body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
 	clip: rect(0 0 0 0);
 	overflow: hidden;
}


.container {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 16px 40px;

	font-size: 16px;
	line-height: 18px;

	color: #ffffff;
	background-color: #000000;
	text-transform: uppercase;

	border-radius: 4px;
}

/*---------------------------ХЕДЕР-------------------------------*/ 

header {
	padding-top: 49px;
	padding-bottom: 17px;
	background-color: #eeeeee;
}



.header-menu,
.header-basket {
	margin: 0;
	padding: 0;
	padding-top: 25px;

	display: flex;
	list-style: none;
}

.header-menu li {
	margin-right: 46px;
}

.header-menu li a,
.header-basket li a {
	font: inherit;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.header-menu li a:hover,
.header-menu li a:focus,
.header-basket li a:hover,
.header-basket li a:focus {
	color: #fb565a;
}

.header-menu li a:active,
.header-basket li a:active {
	color: rgba(0,0,0, 0.3);;
}

.header-basket a {
	position: relative;
	padding-left: 40px;
}

.header-basket a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 2px;

	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
	fill: #a6a6a6;
}

/*---------------------------Основное фото со слайдером-------------------------------*/ 



.main-photo {
	margin-bottom: 80px; 
	background-color: #eeeeee;
}

.main-photo input {
	display: none;
}

.main-slides {
	display: none;

	width: 100%;
	min-height: 413px;

	padding-top: 65px;
	box-sizing: border-box;

	background-repeat: no-repeat;
	background-position: top right;
}

.main-slides p {
	margin-bottom: 40px;
}


input:checked + .main-slogan-slide1 {
	display: block;
	background-image: url("../img/slide1.png");
}

input:checked + .main-slogan-slide2 {
	display: block;
	background-image: url("../img/slide2.png");
}

input:checked + .main-slogan-slide3 {
	display: block;
	background-image: url("../img/slide3.png");
}


.main-slogan {
	display: block;
	margin-bottom: 25px;

	font-size: 55px;
	line-height: 55px;
}

.main-photo .button {
	padding: 16px 55px;

	background-color: #fb565a;
}


.main-photo .button:hover,
.main-photo .button:focus {
	background-color: #e74246;
}

.main-photo .button:active {
	color: rgba(255,255,255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
}


/*----------------Блок услуг------------------------------------*/


.services .container {
	margin-bottom: 40px;

	border-bottom: 2px solid #eeeeee;
}

.services-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	margin-bottom: 80px;
	padding: 0;

	width: 100%;

	list-style: none;
}

.services-list li {
	width: 300px;
}

.services-list h3 {
	margin: 15px 0;
	padding: 0;

	font-size: 24px;
	line-height: 30px;

	text-transform: uppercase;
}

.services-list p {
	margin-bottom: 31px;
}

.services-list .button:active {
	color: rgba(255,255,255, 0.3);
	box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
}

.services-list .red {
	background-color: #fb565a;
}

.services-list .red:hover,
.services-list .red:focus {
	background-color: #e74246;
}

.services-list .red:active {
	background-color: #d7373b;
}

.services-list .green {
	background-color: #00ca74;
}

.services-list .green:hover,
.services-list .green:focus {
	background-color: #00bc6c;
}

.services-list .green:active {
	background-color: #00aa62;
}

.services-list .yellow {
	background-color: #efc84a;
}

.services-list .yellow:hover,
.services-list .yellow:focus {
	background-color: #eab534;
}

.services-list .yellow:active {
	background-color: #e5a722;
}


/*----------------Блок about-us------------------------------------*/


.about-us .container {
	margin-bottom: 40px;

	border-bottom: 2px solid #eeeeee;
}

.about-us-text {
	width: 700px;
	margin-bottom: 50px;
}


.abous-us-slogan {
	display: block;
	margin-top: 34px;
	margin-bottom: 32px;
    
	font-size: 45px;
	line-height: 45px;
}

.about-us-text p {
	margin-bottom: 40px;
}

p.about-us-services {
	margin-bottom: 23px;

	font-weight: bold;
	text-transform: uppercase;
}

.about-us-services-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.about-us-services-list li {
	position: relative;

	padding-left: 37px;
	margin-bottom: 24px;
}

.about-us-services-list li::before {
	content: "";
	position: absolute;
	left: 1px;
	top: 12px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.abous-us-statistic {
	margin: 0;
	padding: 0;

	width: 360px;
}

.abous-us-statistic > p {
	margin-top: 30px;
	margin-bottom: 38px;

	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.abous-us-statistic-table td {
	padding-right: 18px;
	padding-bottom: 15px;
}

.abous-us-statistic-table tr:first-child {
	font-size: 45px;
	line-height: 45px;

}

.abous-us-statistic-table .upper {
	font-size: 30px;
	line-height: 30px;
	vertical-align: top;
}

.abous-us-statistic-table p {
	font-size: 16px;
	line-height: 18px;
}

/*----------------Блок наши клиенты------------------------------------*/


.our-clients .container {
	margin-bottom: 80px;

	border-bottom: 2px solid #eeeeee;
}


.our-clients-list {
	display: flex;
	justify-content: space-between;

	width: 100%;

	margin: 0;
	margin-bottom: 6px;
	padding: 0;

	list-style: none;
}


.our-clients-list li {
	width: 280px;
	position: relative;
	text-align: center;

	flex-grow: 1;
	
}

.our-clients-list li::before {
	content: "";
	position: absolute;
	left: -1px;
	top: 20px;

	width: 2px;
	height: 52px;

	background-color: #eeeeee;
}

.our-clients-list li:first-child::before {
	display: none;
}

.our-clients-list a {
	display: block;
	padding: 15px 0;
	margin: 0 auto;

	opacity: 0.3;
}

.our-clients-list a:hover,
.our-clients-list a:focus {
	opacity: 1;

}

/*----------------Блок Карты------------------------------------*/

.main-map {
	width: 100%;
	height: 415px;

	position: relative;

	background-image: url(../img/main-map.jpg);
	background-repeat: no-repeat;
}

.main-map-card {
	position: absolute;
	top: 54px;

	width: 319px;

	padding-top: 49px;
	padding-left: 50px;

	box-sizing: border-box;

	background-color: #ffffff;
}

.main-map-card h3 {
	margin: 0;
	margin-bottom: 19px;
	padding: 0;

	font-size: 18px;
	line-height: 30px;	

	font-weight: bold;
	text-transform: uppercase;
}

.main-map-card p {
	margin-bottom: 17px;

	font-size: 16px;
	line-height: 18px;

	color: #666666; 
}

.main-map-card .button {
	padding: 16px 45px;;

	margin-top: 20px;
	margin-bottom: 47px;

	background-color: #fb565a;
}

.main-map-card .button:hover,
.main-map-card .button:focus {
	background-color: #e74246;
}

.main-map-card .button:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
}


/*----------------ФУТЕР------------------------------------*/


footer .container {
	padding-top: 69px;
}

.footer-social-button {
	display: flex;
	flex-wrap: wrap;

	width: 400px;

	margin: 0;
	margin-bottom: 70px;
	padding: 0;

	list-style: none;
}

.footer-social-button li {
	margin-right: 12px;
}

.footer-social-button a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 78px;
	height: 78px;

	border-radius: 50%;
	background-color: #e1e1e1;
}


.footer-social-button a:hover,
.footer-social-button a:focus {
	background-color: #e74246;
}

.footer-social-button a:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
} 

.footer-social-button a:active img {
	opacity: 0.3;
}

.footer-slogan {
	display: block;

	font-size: 36px;
	line-height: 36px;

	margin-bottom: 7px;

	font-weight: bold;

	color: #000000; 
}

.footer-text {
	flex-grow: 1;

	padding-top: 6px;
}

/*----------------Форма обратной связи------------------------------------*/

.write-us {
	display: none;

	position: fixed;
	top: 5%;
	left: 50%;
	margin-left: -480px;

	width: 960px;
	box-sizing: border-box;

	background-color: #ffffff;
	box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75);

}

.modal-open {
	display: block;
}

.write-us .container {
	position: relative;
	flex-direction: column;
	width: 760px;
	margin: 67px auto;
}


.button-close {
	position: absolute;
	top: 0;
	right: 0;

	width: 21px;
	height: 21px;

	font-size: 0;
	background-color: transparent;
	background-image: url(../img/close-cross.svg);
	opacity: 0.3;
	border: none;

	cursor: pointer;
}

.button-close:focus,
.button-close:hover {
	opacity: 1;
}

.button-close:active {
	opacity: 0.1;
}

.write-us input,
.write-us textarea {
	width: 100%;
	padding: 14px;

	font-family: inherit;
	font-size: 16px;
	line-height: 18px;

	color: #a1a1a1;

	border: 2px solid #d7dcde;
	border-radius: 4px;

	box-sizing: border-box;
}

.write-us input:hover,
.write-us textarea:hover {
	border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
	color: #444444;
	border: 2px solid #000000;
	outline: none;
}

.write-us input::-webkit-input-placeholder {color:#a1a1a1;}
.write-us input::-moz-placeholder          {color:#a1a1a1;}
.write-us input:-moz-placeholder           {color:#a1a1a1;}
.write-us input:-ms-input-placeholder      {color:#a1a1a1;}

.write-us input:focus::-webkit-input-placeholder {color: #444444}
.write-us input:focus::-moz-placeholder          {color: #444444}
.write-us input:focus:-moz-placeholder           {color: #444444}
.write-us input:focus:-ms-input-placeholder      {color: #444444}

.write-us label {
	display: block;

	margin: 0;
	margin-bottom: 9px;
	padding: 0;

	font-size: 16px;
	line-height: 18px;

	font-weight: bold;
}

.write-us-column {
	display: flex;
	justify-content: space-between;

	margin-bottom: 35px;
}

.write-us .mail-text {
	height: 118px;
	padding: 11px 14px;
	margin-bottom: 47px;
}

.write-us-column p {
	width: 360px;
}

.write-us h2 {
	margin: 0;
	margin-bottom: 41px;
	padding: 0;

	font-size: 45px;
	line-height: 45px;

	font-weight: bold;	
}

.write-us button.submit {
	width: 260px;
	margin-bottom: 17px;

	font-family: inherit;

	background-color: #fb565a;
	border: none;
}

.write-us button.submit:hover,
.write-us button.submit:focus {
	background-color: #e74246;
}

.write-us button.submit:active {
	color: rgba(255,255,255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
}

/*-----------------------------------------------------------------------*/
/*----------------Страница магазина------------------------------------*/
/*-----------------------------------------------------------------------*/


.header-logo-link:active {
	opacity: 0.3;
}

.header-menu .active,
.header-basket .active {
	padding-bottom: 9px;
	border-bottom: 2px solid #fb565a;
}


.header-menu .active:hover,
.header-basket .active:hover {
	color: #000000;
}

.catalog-title {
	padding-top: 52px;
	padding-bottom: 108px;
	margin-bottom: 60px;

	background-color: #eeeeee;
	text-align: center;
}

.catalog-title h1 {
	margin: 0;
	padding: 0;

	font-size: 55px;
	line-height: 55px;
}

/*-----------------------ФИЛЬТР СЛЕВА---------------*/

.catalog-filter {
	width: 260px;
	margin-right: 140px;
	flex-shrink: 0;
}

.catalog-filter h3 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}


.catalog-filter-form input[type="radio"],
.catalog-filter-form input[type="checkbox"] {
	display: none;
}

.catalog-filter-form label {
	position: relative;
	display: block;

	margin: 0;
	margin-bottom: 16px;
	padding: 0;
	padding-left: 36px;

	font-size: 16px;
	line-height: 25px;

	color: #283136;

	cursor: pointer;
}


.catalog-filter-form fieldset {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;	

	border: none;
}

.checkbox-indicator {
	position: absolute;
	top: 0px;
	left: 0;

	width: 23px;
	height: 23px;

	background-color: transparent;
	opacity: 0.3;
}


.catalog-filter-form label:hover {
	color: #000000;
}

.catalog-filter-form label:hover .checkbox-indicator {
	opacity: 1;
}

/*переключение состояний*/
.setka input + .checkbox-indicator {
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
}

.setka input:checked + .checkbox-indicator {
	background-image: url("../img/radio-on.svg");
}


.features input + .checkbox-indicator {
	background-image: url("../img/checkbox-off.svg");
}

.features input:checked + .checkbox-indicator {
	width: 26px;

	background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-form input:disabled + .checkbox-indicator {
	opacity: 0.1;
}

.catalog-filter-form input:disabled label {
	color: red;
}




.catalog-filter button {
	color: #000000;
	
	font-family: inherit;
	font-weight: bold;

	border: none;
	background-color: #eeeeee;
}



/*-----------------------РЕЗУЛЬТАТЫ ПОИСКА - ГЛАВНЫЙ КОНТЕНТ---------------*/

.catalog-content {
	flex-grow: 1;
}


.catalog-content-sorting {
	display: flex;
	justify-content: space-between;
}


/*Стрелки снизу вверх и сверху вниз*/

.catalog-content-sorting-order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

	width: 34px;

	padding-bottom: 5px;
}

.catalog-content-sorting-order button {
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;
	fill: #cacaca;
}

.catalog-content-sorting-order button:nth-child(2) {
	fill: #81b3d2;
}

.catalog-content-sorting-order button:hover,
.catalog-content-sorting-order button:focus {
	fill: #231f20;
}

.catalog-content-sorting-order button:active {
	fill: #81b3d2;
}



/*Список шаблонов*/

.catalog-content-list {	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-content-list li {
	position: relative;

	width: 360px;
	padding-top: 40px;
	margin-bottom: 33px;

	box-sizing: border-box;

	background-color: #e9e9e9;
	background-image: url("../img/circle.svg");
	background-position: 15px 12px;
	background-repeat: no-repeat;

	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.catalog-content-list li:hover,
.catalog-content-list li:focus {
	background-color: #4d4d4d;
	box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.25);

}

.catalog-item-info {
	position: absolute;
	bottom: 0;

	width: 100%;

	text-align: center;

	background-color: #eeeeee;
}

.catalog-item-info button {
	
	background-color: #fb565a;
	border: none;

}